
.tweet
    .wrap
        .user
            a(href="http://twitter.com/" + tweet.user.username)
                img(src=tweet.user.avatar, alt=tweet.user.username)
        .text
            .username
                a(href="http://twitter.com/" + tweet.user.username)= "@" + tweet.user.username
            .chars!= tweet.text
            .date= moment(tweet.created_at).fromNow()
        

